!!!
%html
	%head
		%title Snaketron - Multiplayer Snake
		%script{"data-main" => "/js/snaketronclient.js", :src => "/js/libs/require.js"}
		%link{"rel" => "stylesheet", "type" => "text/css", "href" => "/css/main.css"}
		%link{"rel" => "stylesheet", "type" => "text/css", "href" => "/css/libs/bootstrap.css"}
	%body
