.container
  %a.logo
  %ul.navigation
    %li
      %a.home{"href" => "/"} Home
    %li
      %a.leaderboards{"href" => "/leaderboards"} Leaderboards
    %li
      %a.instructions{"href" => "/instructions"} How To Play
  .clear