#Marketing
  .container
    .row
      .col-md-8
        %p.lead Why is Snake still a one player thing?
        %p That got old after the first 35 years! Test your wits and reflexes against friends in a game of multiplayer Snake.
        %ul.feature-list
          %li 
            %span.glyphicon.glyphicon-chevron-right
            %b Battle friends.
            Challenge Facebook friends directly or play against the game's top Snake Masters.
          %li
            %span.glyphicon.glyphicon-chevron-right
            %b Rank up.
            Win more games. Increase your rank. Battle tougher opponents. Climb the leaderboards in categories such as Win/Loss Ratio, Kills, Kill Streak, and XP.
          %li
            %span.glyphicon.glyphicon-chevron-right
            %b Free forever.
            Snaketron will always be 100% free. No price, no subcription fee, and no gimmicky in-game purchases. Strictly gameplay.
        %br
        %p.lead Snaketron is open source!
        %ul.feature-list
          %li
            %span.glyphicon.glyphicon-chevron-right
            Want to improve the game?
            %a{href: 'http://github.com/'} Submit a pull request!
          %li
            %span.glyphicon.glyphicon-chevron-right
            Or, if you want to learn more about making real-time games with Node.js and Backbone, read 
            %a{href: '/'} how Snaketron is made.
      .col-md-4
        .authentication
