[package]
name = "common"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1"
wasm-bindgen = { version = "0.2", features = ["serde-serialize"] }
serde = { version = "1.0.219", features = ["derive"] }
